body {
  font-family: lato, sans-serif;
  font-family: open sans, sans-serif;
}

/*nav related styles*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.navtittle {
  color: black;
  font-size: 45px;
  font-weight: 800;
}
.text-primary {
  color: #fd6e0a;
}

.primary-button {
  border-radius: 5px;
  background-color: #fd6e0a;
  border: 0px;
  padding: 15px 30px;
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav > li {
  list-style: none;
  margin-right: 50px;
}

nav > a {
  text-decoration: none;
  color: #474747;
}
li > a {
  list-style: none;
  margin-right: 50px;
  text-decoration: none;
}
/* header style */
.head {
  background-color: #fff8f3;
}
.banner {
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}
.profile {
  width: 500px;
}
